@model crud_simples.Models.ViewModels.ClienteFormViewModel

@{
    ViewData["Title"] = "Cadastrar Cliente";
}

<h4 class="text-center">@ViewData["Title"]</h4>

<hr />
<div class="row">
    <div class="col-lg-6">
        <form asp-action="Cadastrar">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="cliente.cpf" class="control-label"></label>
                <input asp-for="cliente.cpf" class="form-control" placeholder="000.000.000-00" />
                <span asp-validation-for="cliente.cpf" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="cliente.nome" class="control-label"></label>
                <input asp-for="cliente.nome" class="form-control" />
                <span asp-validation-for="cliente.nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="cliente.email" class="control-label"></label>
                <input asp-for="cliente.email" type="email" class="form-control" placeholder="user@gmail.com" />
                <span asp-validation-for="cliente.email" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <input type="submit" asp-action="Index" value="Voltar" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}