@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <p>
        <strong>Telefone: </strong> (61) 99168-5321
        <br />
        <strong>Email: </strong> <a href="mailto:vitorh.morais10@gmail.com">vitorh.morais10@gmail.com</a>
    </p>
</address>

<address>
    Brasília, 30 de Setembro de 2020<br />
</address>
